body,#app{margin:0;padding:0;border:none}*{box-sizing:border-box}html,body{scrollbar-width:none;-ms-overflow-style:none}::-webkit-scrollbar{display:none}html,body{overflow-y:scroll;overflow-x:hidden}
